# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea
/test_results/
/dataset/evaluation_dataset/data/
/dataset/csv_data/

# Ignore images
*.png
*.jpg
*.jpeg
*.gif
visualization/
.DS_Store
report.zip
*.zip
